From Anna 
Pedal generator for open day ~ $2000

Design Spec
Use bafang PMSM as PMSG after removal of clutch. 


- 3 phase rectifier to Appropriate Load
- Over voltage protection if required.
- Super cap on micro supply line, screen shutdown to minimise boot time
- off the shelf, 12v usb charger, probably automotive origin
- dissipate power on chassis if possible. 

potentiometer to control load resistance
Display with  volts, amps, temp, rpm
possibly as dials
possibly graph of power vs time
possibly energy calc to allow for reward

